@model Quote

<form action="modelbind" method="post">
    <label for=""> Quote
        <input type="text" name="quote">
    </label>
    <label for=""> By who?
        <input type="text" name="who">
    </label>
    <button>Submit</button>
</form>